@import "config";
@import "utils";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  color: $main-text-color;
  background: $bg-dark;
}

.container {
  position: relative;
  height: 100vh;

  .ratings-container {
    width: 412px;
    height: 415px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    background: $bg-medium;

    .rating-content {
      @extend %content;

      .icon-star {
        box-sizing: initial;
        width: 15px;
        background: lighten($bg-medium, 8%);
        padding: 14px;
        border-radius: 80px;
      }
    }
  }
}

@import "mobile";
@import "buttons";
@import "number";
@import "thankyoupage";
@import "attribution";
